<h1>Oh No! Your Login Information Was Not Correct!</h1>
<h6>Please try again.</h6>
<hr>
<div class="row" style="margin-top:40px;">
<div class="col-md-6">
<a href="/login"><button class="submit">Please Log In</button></a>
</div>
<div class="col-md-6">
<a href="/signup"><button class="signup submit">Sign Up</button></a>
</div>
</div>