
<h1>Please Log In</h1>
<hr>
<div class="row" style="margin-top:40px;">
<div class="col-md-12">
<form method="POST" type="/login">
<p><label for="email">Email: </label><input type="text" name="email" id="email"></p>
<p><label for="password">Password: </label><input type="text" name="password" id="password"></p>
<input class="submit" type="submit" value="submit">
</form>
</div>
</div>