<h1>New Comment for <%=@plant.name%></h1>
<br>
<form method="POST" action="/plants/<%=@plant.id%>/comment">
<p><label for="reply">Comment: </label><input type="text" name="reply" id="reply"></p>
<input class="submit" type="submit" value="Post Comment">
</form>