<h1>Your Plant's Info</h1>
<hr>
<div class="row" style="margin-top:40px;">
<div class="col-md-12">
<form method="POST" action="/plants">
    <label for="plant_name">Name: </label>
    <input type="text" name="plant[name]" id="plant_name" placeholder="Name">
    <br>
    <label for="plant_type">Family: </label>
    <input type="text" name="plant[family]" id="plant_family" placeholder="Family">
    <br>
    <label for="plant_description">Description: </label>
    <input type="text" name="plant[description]" id="plant_description" placeholder="Description">
    <br>
    <label for="plant_care">Care: </label>
    <input type="text" name="plant[care]" id="plant_care" placeholder="Care">
    <br>
    <input class="submit" type="submit" id="create_plant" value="Create Plant">
</form>
</div>
</div>