<h1>Welcome to Plants & Things</h1>
<h6>An app to catalog and track your plant collection with notes of type, description and care.</h6>
<hr>
<div class="row" style="margin-top:40px;">
<div class="col-md-6">
<a href="/login"><button class="submit">Please Log In</button></a>
</div>
<div class="col-md-6">
<a href="/signup"><button class="signup submit">Sign Up</button></a>
</div>
</div>